@font-face {
    font-family: AvenirNext;
    src: url('../Assets/AvenirNext/Avenir-next-lt-pro/AvenirNextLTPro-Regular.otf');
  }

@font-face {
    font-family: avernirBold;
    src: url('../Assets/AvenirNext/Avenir-next-lt-pro/AvenirNextLTPro-Bold.otf');
}

@font-face {
    font-family: avernirMedium;
    src: url('../Assets/AvenirNext/Avenir-next-lt-pro/AvenirNextLTPro-MediumCn.otf');
}

.container {
    width: 100%;
    display: flex;
    padding: 3rem 5rem;
    justify-content: center;
    min-height: 100vh;
    background: #fff;
}

.container1 {
    background: #fff;
    flex: 1
}


.container1 .logo {
    margin-bottom: 5rem;
}
.container1 .image {
    width: 100%
}
.container1 .image img {
    width: 100%;
}
.container2 {
    background: #fff;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4rem;
}
.container2 .h1 {
    color: #213F7D;
    font-size: 2.5rem;
    font-family: avernirBold;
}
.container2 .pg {
    color: #545F7D;
    font-size: 1rem;
    line-height: 2.5rem;
    margin-bottom: 3rem;
    font-family: AvenirNext;
}
.input {
     width: 80%;
     position: relative;

}

.input input  {
    outline: none;
    border: 1px solid #545F7D26;
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 1rem;
    cursor: pointer;
    font-family: AvenirNext;
}
.input .sp {
    position: absolute;
    right: 3%;
    color: #39CDCC;
    font-size: 0.65rem;
    bottom: 50%;
    cursor: pointer;
}
.fg {
    color: #39CDCC;
    font-size: 0.7rem;
    font-family: avernirMedium;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}
.btLg {
    width: 80%;
    background:  #39CDCC;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 0.8rem;
    font-size: 0.8rem;
    font-family: avernirMedium;
    letter-spacing: 2px;
}