.users {
    width: 100%;
    padding: 0rem 3rem;
    position: relative;
}

.tableCont {
    width: 100%;
    background: #fff;
    padding: 1rem 2rem;
    padding-bottom: 2rem;
    border-radius: 5px;
    box-shadow: 3px 5px 20px 0px #0000000A;
    margin-bottom: 2rem;
}