
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  text-decoration: none;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans";
  list-style: none;
}

body {
  min-height: 100vh;
  background-color:  #F6F5FF;;
}
