.bdMain{
   display: flex;
   flex-direction: column;
   position: relative;
}

.bdMain .bd {
    display: flex;
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: #F6F5FF;
}
.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: #F6F5FF;
    transition: all 0.5s ease;
    z-index: 1;
}